{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="center">
<img loading="lazy"  height="520" width="1350" src="{{ asset('images/OIP.jpg') }} "/>
</div>

{# footer #}
<footer class="container">
<p>&copy; PROPAR 2022</p>
{% endblock %}
