{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href='../../css/styles.css' type="text/css">
{% endblock %}

{% block body %}
    <h1>Edit Task</h1>

    {{ include('task/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="/tasks/{{ app.user }}">back to list</a>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
