{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href='../../css/styles.css' type="text/css">
{% endblock %}

{% block body %}
    <h1>Create new Task</h1>

    {{ include('task/_form.html.twig') }}

    <a href="/tasks/{{ app.user }}">back to list</a>
{% endblock %}
